[Unit]
Description=Cogitatio Server
After=network.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/cogitatio-virtualis
ExecStart=/home/ubuntu/miniconda3/envs/cv_env/bin/python -m cogitatio-server.scripts.start_server --api-only
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
