[Unit]
Description=Cogitatio Server
After=network.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/cogitatio-virtualis/cogitatio-server
ExecStart=/home/ubuntu/cogitatio-virtualis/cogitatio-server/.venv/bin/cogitatio-server --api-only
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
